# Secrets - NUNCA commitar senhas reais
secrets/*.txt
.vscode/

# Environment - NUNCA commitar .env com senhas reais
srcs/.env
srcs/requirements/bonus/.env

# Docker volumes data
/home/nmatondo/data/
